<div class='comment-card'>
  <div class='card'>
    <div class='card-block'>
      <div class='row'>
        <div class='col-md-8'>
          <div class='card-body'>
            <%= comment.body %>
          </div>
          <div class='card-footer comment-footer'>
            <%= time_ago_in_words(comment.created_at) %> ago by <%= comment.user.email %>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>