<% @articles.each do |art| %>
  <div class='well well-lg', id='index-bg'>
    <div class='article-title'>
      <%= link_to art.title, article_path(art), id: 'index-link', style: "color: #449DD1" %>
    </div>
    <div class='article-body'>
      <%= truncate(art.body, length: 250) %>
    </div>
    <div class='author'>
      <small>Created by: <%= art.user.email %></small>
    </div>
  </div>
<% end %>