<div class="card">
  <h3 class="card-header">
    <%= @article.title %>
  </h3>
  <div class="card-body">
    <p class="card-text">
      <%= @article.body %>
    </p>  
  </div>
  <div class="card-footer text-muted">
    Created on: <%= @article.created_at.strftime("%b %d, %Y") %>
  </div>
</div>